<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cui.android.jianchengdichan">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="andorid.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.ui.avtivity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".view.ui.LoginActivity"></activity> -->
        <activity
            android:name=".view.ui.avtivity.ScanActivity"
            android:label="@string/title_activity_scan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.avtivity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.avtivity.LeaseCentreActivity"
            android:label="@string/title_activity_lease_centre"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.avtivity.FeedbackActivity"
            android:label="@string/title_activity_feed_back"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.avtivity.SetingActivity"
            android:label="@string/title_activity_seting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.avtivity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.avtivity.RegisterActivity"
            android:label="@string/title_activity_register2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.avtivity.ForgetPwdActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name=".view.ui.avtivity.PayFeesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.avtivity.PayMentRecordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.avtivity.CityPickerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.avtivity.PayingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.avtivity.FeedbackHistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.avtivity.RentDatailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.avtivity.ReleaseRentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.avtivity.InCommunityActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.avtivity.CommAddListAtivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.avtivity.WebViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.ui.avtivity.PersonalDataActivity" />
        <activity android:name=".view.ui.avtivity.SetUserMsgActivity" />
        <activity android:name=".view.ui.avtivity.RepairsActivity" />
        <activity android:name=".view.ui.avtivity.MyApplyActivity" />
        <activity android:name=".view.ui.avtivity.NoticeAcitivty" />
        <activity android:name=".view.ui.avtivity.FitmentActivity" />
        <activity android:name=".view.ui.avtivity.MyFitmentListActivity" />
        <activity android:name=".view.ui.avtivity.ConveServiceActivity" />
        <activity android:name=".view.ui.avtivity.ConveDetailsActivity" />
        <activity android:name=".view.ui.avtivity.CellPhoneActivity" />
        <activity android:name=".view.ui.avtivity.ConveColumnActivity" />
        <activity android:name=".view.ui.avtivity.ReleaseTopicActivity"></activity>
    </application>

</manifest>